<div class="vertical grid-block info-module">
    <div class="grid-block padding shrink">
        <div class="grid-block padding-half white-bg">
            <div class="grid-block small-6 padding">
                <div class="vertical grid-block">
                    <div class="padding-half padding-left bold">My Investment Found</div>
                    <div class="padding-half padding-left">This section will outline your goal and the possible time to
                        get there
                    </div>
                </div>

            </div>
            <div class="grid-block small-3 padding box">
                <div class="vertical grid-block">
                    <div class="padding-half padding-left">Depositis</div>
                    <div class="padding-half padding-left"><span>Initial: <span>$675,000</span></span></div>
                </div>
            </div>
            <div class="grid-block small-3 padding box">
                <div class="vertical grid-block">
                    <div class="grid-block">
                        <div class="grid-block">
                            <div class="grid-block align-center"><img src="../../assets/images/ico-meter.png" alt="">
                            </div>
                            <div class="grid-block">
                                <div class="vertical grid-block">
                                    <div class="grid-block padding-half shrink">Risk Level</div>
                                    <div class="grid-block padding-half shrink">4 - Moderate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-block padding-half">
                        <div class="grid-block padding-right small-1 small-font">
                            <div class="padding-top-half align-left">LOW</div>
                        </div>
                        <div class="grid-block padding-right padding-left small-10"><input type="range"></div>
                        <div class="grid-block small-1 small-font">
                            <div class="padding-top-half align-left">HIGH</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>